body {
    background-color: #19263A;
    
}

.container {
    color: #FFF;
    margin: 0 auto;
    width: 90%;
}



#logoFace {
    width: 30%;
    height: 30%;
}

nav {
    float: left;
    width: 45%;
}

nav a {
    text-decoration: none;
    color: #FFF;
}
nav img {
    width: 15px;
    height: 15px;
}

.clear {
    clear: both;
}

section {
    float: left;
    width: 65%;
}
article {
    background-color: rgb(218, 217, 216);
    padding: 0.5%;
    border-radius: 5px;
    border: #19263A solid;
}

h1, p {
    color: black;
}

header {
    border: solid 1px;
    border-radius: 5px;
}


aside {
    background-color: azure;
    float: right;
    width: 30%;
    color: black;
    padding: 0.5%;
    border-radius: 5px;
    border: solid 1px;
    
}

aside img {
    width: 60%;
    height: 60%;
}

ul {
    line-height: 1.6;
}

a {
    font-weight: bold;
    color: red;
}

#titlePage {
    color: #FFF;
    
}