body {
    background-image: url('textura01.png');
    background-color: black;
    font-family: Arial;
}



.container {
    margin: 0 auto;
    width: 90%
}



#logoFace {
    width: 30%;
    height: 30%;
}

nav {
    float: left;
}

nav a {
    text-decoration: none;
    color: #FFF;
}
nav img {
    width: 15px;
    height: 15px;
}

.clear {
    clear: both;
}

section {
    float: left;
    width: 65%;
}
article {
    background-color: rgb(218, 217, 216);
    padding: 1.5%;
    border-radius: 5px;
    border: #19263A solid;
}


hr {
    color: #FFF;
}


aside {
    background-color: azure;
    float: right;
    width: 30%;
    color: black;
    padding: 0.5%;
    border-radius: 5px;
    border: solid 1px;
    
}

aside img {
    width: 60%;
    height: 60%;
    margin-top: 0px;
}

aside p {
    margin-bottom: 0px;   
}

ul {
    line-height: 1.6;
    display: none;
    margin-top: 0;
    background: gray;
    border-radius: 5px;
    padding-right: 2%;
}

a {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

#titlePage {
    color: #FFF
}

#listaLink {
    color: #FFF
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

#titlePage {
    color: #FFF;
    
}


#listaLink {
    margin-bottom: 0;
}


nav h3 {
    margin-left: 10px;
}

#menuLink { 
    background: gray;
    display: none;
}

#ident03 {
    line-height: 2.0;
    
}

#ident03 h1 {
    text-align: center;   
}
#ident03 p {
    text-align: justify;

}

#atu {
    color: #FFF;
    font-size: 10px;
}


@media only screen and (min-width: 320px) and (max-width: 1080px) {
 section, aside {
     float: left
    }
    
    section {
        width: 100%
    }
    aside {
        width: 99%
    }
    
}

