body {
    background-color: #19263A;
    
}

.container {
    color: #FFF;
    margin: 0 auto;
    width: 960px;
}



#logoFace {
    width: 20px;
    height: 20px;
}

nav {
    float: left;
    width: 150px;
}

nav a {
    text-decoration: none;
    color: #FFF;
}
nav img {
    width: 15px;
    height: 15px;
}

.clear {
    clear: both;
}

section {
    float: left;
    width: 660px;
}
article {
    background-color: rgb(218, 217, 216);
    padding: 10px;
    border-radius: 5px;
    border: #19263A solid;
}

h1, p {
    color: black;
}

header {
    border: aliceblue solid 1px;
    border-radius: 5px;
}

header h1 {
    text-align: center;
    color: aliceblue;
    float: left;
    margin-top: 0;
}

aside {
    background-color: azure;
    float: right;
    width: 260px;
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: #19263A solid;
    
}

aside img {
    width: 50px;
    height: 50px;
}

ul {
    line-height: 1.6;
}

a {
    font-weight: bold;
    color: red;
}